#classroom-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
	table-layout: fixed;
}

.classroom-row {
    padding: 10%;
}

.classroom-cell {
	cursor: pointer;
    padding: 5%;
}
